iptables -I INPUT 1 -p udp --dport 1701 -m policy --dir in --pol none -j DROP
iptables -I INPUT 2 -m conntrack --ctstate INVALID -j DROP
iptables -I INPUT 3 -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
iptables -I INPUT 4 -p udp -m multiport --dports 500,4500 -j ACCEPT
iptables -I INPUT 5 -p udp --dport 1701 -m policy --dir in --pol ipsec -j ACCEPT
iptables -I INPUT 6 -p udp --dport 1701 -j DROP
iptables -I FORWARD 1 -m conntrack --ctstate INVALID -j DROP
iptables -I FORWARD 2 -i "eth+" -o ppp+ -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
iptables -I FORWARD 3 -i ppp+ -o "eth+" -j ACCEPT
iptables -I FORWARD 4 -i ppp+ -o ppp+ -s "{{ vpn_l2tp_net }}" -d "{{ vpn_l2tp_net }}" -j ACCEPT
iptables -I FORWARD 5 -i "eth+" -d "{{ vpn_xauth_net }}" -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
iptables -I FORWARD 6 -s "{{ vpn_xauth_net }}" -o "eth+" -j ACCEPT
# Uncomment if you wish to disallow traffic between VPN clients themselves
# iptables -I FORWARD 2 -i ppp+ -o ppp+ -s "{{ vpn_l2tp_net }}" -d "{{ vpn_l2tp_net }}" -j DROP
# iptables -I FORWARD 3 -s "{{ vpn_xauth_net }}" -d "{{ vpn_xauth_net }}" -j DROP
iptables -A FORWARD -j DROP
iptables -t nat -I POSTROUTING -s "{{ vpn_xauth_net }}" -o "eth+" -m policy --dir out --pol none -j MASQUERADE
iptables -t nat -I POSTROUTING -s "{{ vpn_l2tp_net }}" -o "eth+" -j MASQUERADE
